div.box {
  height: 50em;
  position: relative }
div.child  {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;


}
body{
background-image: url("https://images4.alphacoders.com/552/552010.png");
}

.page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
label span{
  color: red;
}

.custom-button {
  font-size: 0.5rem;
  padding: 0.1rem 0.5rem;
}
