
body{
background-image: url("https://images4.alphacoders.com/552/552010.png");
}

label span{
  color: red;
}

.custom-button {
  font-size: 0.5rem;
  padding: 0.1rem 0.5rem;
}

.font-home {
  color: white;
}
